body {
  color: white;
  font-family: Arial;
  font-size: larger;
  font-weight: bolder;
  background-image: url("/calculator_1309/images/background_img_for_calculator.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row1, .row2, .row3, .row4 {
  background-color: rgba(31, 31, 31, 0.832);
  color: white;
  border: 0px solid transparent;
  padding: 10px;
  margin: 10px;
  height:80px;
  width: 80px;
  border-radius: 40px;
  cursor: pointer;
}

.row1:hover, .row2:hover, .row3:hover, .row4:hover {
background-color:  rgb(246, 153, 4);
  color: white;
}

.row5 {
  background-color:  rgb(246, 153, 4);
  color: white;
  border: 0px solid transparent;
  padding-left: 120px;
  padding-right: 150px;
  margin-left: 60px;
  height:80px;
  width: 80px;
  border-radius: 40px;  
  cursor: pointer;
}

.row5:hover, .rowp:hover, .rowm:hover, .rowinto:hover, .rowequal:hover{
  background-color:  rgba(31, 31, 31, 0.832);
  color: white;
  transition-duration: 0.5s;
}
.rowp, .rowm, .rowinto {
  background-color: rgb(246, 153, 4);
  color: white;
  border: 0px solid transparent;
  padding: 10px;
  margin: 2px;
  height:80px;
  width: 80px;
  border-radius: 40px;
  cursor: pointer;    
}

.rowequal {
  background-color: rgb(246, 153, 4);
  color: white;
  border: 0px solid transparent;
  padding: 10px;
  margin: 2px;
  height:80px;
  width: 80px;
  border-radius: 40px;
  cursor: pointer;  
}

.overalldiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lowerdiv {
 padding: 15px;
 border: 1px solid rgb(104, 103, 100);
 border-radius: 10px;
 box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.js-calculation {
  color: black;
  font-size: xx-large;
}
